.profile-form__content {
    margin: auto;
    padding: 40px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.profile-form__header {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
    align-items: center;
}

.form__img {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.form__img-icon {
    background-color: #b9b8b8;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px 30px 20px -330px;
    overflow: hidden;
}

.form__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-select__button-submit {
    margin-top: 60px;
    padding: 5px 20px;
    border: 2px solid #ff4d4d;
    background-color: transparent;
    color: #ff4d4d;
    border-radius: 8px;
    cursor: pointer;
}

.form__group {
    margin: 20px auto;
}

.form__group-title {
    font-weight: bold;
    text-align: left;
}

.form__input-text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__button {
    margin-top: 40px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ff5a5a;
    color: #fff;
    cursor: pointer;
}
